/* -------pargraph font-------- */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

/* -------heading font-------- */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital@0;1&family=Outfit&family=Young+Serif&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    border-radius: 20px;
    margin: 3%;
    padding: 3%;

}

img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}

p,
th {
    font-size: 16px;
    font-weight: 500;
    color: hsl(30, 10%, 34%);
}

h1 {
    font-family: 'Young Serif', serif;
    color: hsl(24, 5%, 18%);
    font-weight: 400;
}

.descraption p {
    font-weight: 500;
}

.time {
    background-color: hsl(332, 51%, 97%);
    border-radius: 20px;
    padding: 2% 3% 3% 3%;
    margin-top: 6%;
}

.time ul {

    padding-left: 4%;
}

.time ul li,
.ingredients ul li,
.instructions ol li {
    list-style-position: outside;
    padding-left: 2%;
    margin-bottom: 2%;
}

.time ul li::marker {
    color: hsl(332, 51%, 32%);
    font-weight: 500;
    font-size: 50%;
}

.time h3 {
    color: hsl(332, 51%, 32%);
    font-weight: 700;
}

h2 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

.ingredients ul li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 500;
    font-size: 50%;
}

.ingredients ul,
.instructions ol {
    padding-left: 3%;
}



.ingredients,
.instructions {
    margin-top: 5%;
    border-bottom: 2px solid hsl(30, 18%, 87%);
    padding-bottom: 4%;
}

.instructions ol li::marker {
    color: hsl(14, 45%, 36%);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}


.Bold {
    font-weight: 700;
    color: hsl(30, 10%, 34%);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 2% 0% 2% 5%;
    text-align: left;
}

tr:not(.last) {
    border-bottom: 1px solid hsl(30, 18%, 87%);

}


td {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

caption {
    text-align: left;
    margin-bottom: 2%;
    color: hsl(30, 10%, 34%);

}


@media (max-width: 768px) {
    .container {
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        border-radius: 0px;
        margin: 0px;
        padding: 0px;
    }

    .content {
        padding: 9%;
    }

    img {
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        border-radius: 0px;
        margin: 0px;

    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0px;
        background-color: hsl(0, 0%, 100%);
    }
}